// 
// Button base
// --------------------------------------------------
.btn {
   font-family: $alt-font;
   text-transform: uppercase;
   font-weight: 500;
   display: inline-block;
   border: 1px solid;
   color: $brand-primary;
   border-color: #ccc;
   background: #fff;
   border-radius: 30px;
 
   &:hover {
      color: $brand-secondary;
      background: #f1f1ef;
      text-decoration: none;
   }

   // Define button variations
   &.btn-primary {
      background: $brand-primary;
      border-color: transparent;
      color: #fff;

      &:hover {
         background: darken($brand-primary, 5);
      }
   }

   &.btn-secondary {
      background: $brand-secondary;
      border-color: transparent;
      color: #fff;

      &:hover {
         background: darken($brand-secondary, 5);
      }
   } // end button variations
   
   // Button with chevron style
   &.btn-chevron-right {
      &:after {
         content: "\f054";
         font-family: 'FontAwesome'; 
         font-size: 14px;
         margin: 0 0 0 8px;
      }
   } // end Button with chevron style
   
   &.btn-lg {
      &.btn-chevron-right {
         &:after { 
            font-size: 16px;
         }
      }
   }

   &.btn-sm {
      &.btn-chevron-right {
         &:after { 
            font-size: 12px;
         }
      }
   }

   &.btn-xs {
      &.btn-chevron-right {
         &:after { 
            font-size: 10px;
         }
      }
   }
   
}

