// 
// Tables / hj prefix - Hotel Javor
// --------------------------------------------------
.hj-table {
   background: #fff;
   width: 100%;
   @include box-shadow(#ccc 0px 0px 3px);

   td,
   th {
      line-height: 1.3;
   }

   thead {
      th {
         font-weight: normal;
         color: #a2a2a0;
         border-top: 4px solid $brand-primary;
         border-bottom: 1px solid #cccccc;
         border-right: 1px solid #ddd;
         padding: 15px 15px;

         &:last-child {
            border-right: 0;
         }
      }
   }

   tbody {
      tr {
         &:first-child {
            td {
               background-image: linear-gradient(bottom,rgb(255,255,255) 90%,rgb(241,241,241) 100%);
               background-image: -o-linear-gradient(bottom,rgb(255,255,255) 90%,rgb(241,241,241) 100%);
               background-image: -moz-linear-gradient(bottom,rgb(255,255,255) 90%,rgb(241,241,241) 100%);
               background-image: -webkit-linear-gradient(bottom,rgb(255,255,255) 90%,rgb(241,241,241) 100%);
               background-image: -ms-linear-gradient(bottom,rgb(255,255,255) 90%,rgb(241,241,241) 100%);
               background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.9,rgb(255,255,255)),color-stop(1,rgb(241,241,241)));
            }
         }
      }
      td {
         padding: 8px 15px;
         border-bottom: 1px solid #ddd;
         border-right: 1px solid #ddd;

         a {
            color: inherit;
         }

         &:last-child {
            border-right: 0;
         }
      }
   }
}