/* Theme variables */
@import "variables";

//
// Tiny MCE custom styles
// --------------------------------------------------

// Lead text
.lead-text {
   color: #888;
   font-size: 22px;
   font-weight: 300;
   font-family: $alt-font;
   line-height: 30px;
   margin-bottom: 0.7em;
}

.editor-output {
   h2 {
      font-weight: 400;
      font-size: 26px;
      margin-bottom: 1em;

      &:first-of-type {
         margin-top: 8px;
      }
   }

   h3 {
      font-weight: 500;
      text-transform: uppercase;
      color: $brand-primary;
      font-size: 1.24em;
      margin-bottom: 0.7em;
   }
}


// Styled unordered list
.styled {
   margin: 0 0 20px;
   padding: 0;
   list-style: none;
   position: relative;

   li {
      position: relative;
      border-bottom: 1px solid #dddddd;
      padding-bottom: 10px;
      margin-bottom: 10px;
      padding-left: 20px;

      &:before {
         content: '\f111';
         font-family: FontAwesome;
         color: $brand-primary;
         font-size: 8px;
         position: absolute;
         left: 5px;
      }
   }

   ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
   }
   
   // clickable lists 
   &.show-more {
      margin-bottom: 40px;

      li {
         &.show-trigger {
            border-bottom: 0;
            padding-left: 0;
            position: absolute;
            bottom: -50px;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;

            &:before {
               content: '';
            }
            span {
               cursor: pointer;
               width: 24px;
               height: 15px;
               display: inline-block;
               background: url(../images/show-trigger.png) no-repeat;
            }

            &.open {
               span {
                  background-position: -24px -15px;
               }
            }
         }

         &.show-content {
            border-bottom: 0;
            padding-left: 0; 
            margin: 0 auto;
            
            &:before {
               content: '';
            }
         }
      }
   }
}

.styled-ul {
   ul {
      @extend .styled; 
   }
}