/* Mixins */
@import "mixins";

/* Theme variables */
@import "variables";

/* Vendor Dependencies */
@import "vendors/bootstrap/bootstrap-compass";
@import "vendors/bootstrap/bootstrap";
@import "vendors/font-awesome/font-awesome";

/* Buttons */
@import "buttons";

/* Tables */
@import "tables";

/* Other CSS library */
@import "animate";

//
// Base
// --------------------------------------------------
body {
  background: url(../images/main-bg.png) repeat;
  @extend .animated;
  @extend .fadeIn;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 500;
}

h5 {
  font-weight: 600;
}

//
// Header
// --------------------------------------------------
header {
  background: #fff;
  padding: 0;
  position: relative;
  z-index: 999;

  // Brand - logo -location - menu toggler
  .brand {
    margin: 40px 0;
    @include make-md-column(2);
    @include make-xs-column(12);
    padding: 0;

    button {
      border: 2px solid $brand-primary;
      background: transparent;
      margin: 10px 0 0;
      position: absolute;
      top: 20px;
      right: 0;
      border-radius: 8px;
      width: 50px;
      height: 40px;

      &:after {
        color: $brand-primary;
        font-size: 22px;
        font-family: FontAwesome;
        content: "\f0c9";
      }

      &:focus {
        outline: none;
      }

      @media (min-width: $grid-float-breakpoint) {
        display: none;
      }
    }
  } //* end Brand - logo - menu toggler

  // Logo
  .logo {
    float: left;
  } //* end Logo

  // Location
  .location {
    background: url(../images/header-location-sep.png) no-repeat;
    padding: 5px 0 10px 30px;
    float: left;
    margin: 26px 0 0 15px;

    @media screen and (max-width: $screen-md-min) {
      display: none;
    }

    span {
      font-size: 17px;
      font-family: $alt-font;
      font-weight: 700;
      color: $brand-secondary;
      display: block;
    }

    span + span {
      color: $brand-primary;
      padding-left: 15px;
    }
  } //* end Location

  // Navigation
  .navigation {
    @include make-md-column(10);
    @include make-xs-column(12);
    margin: 93px 0 0;
    padding: 0;

    @media screen and (max-width: $screen-md-min) {
      margin: 0;
    }

    ul {
      list-style: none;
      @extend .nav;
      @extend .navbar-nav;
      margin: 0;
      float: right;
      padding: 0 12px;

      > li {
        font-weight: 500;
        position: relative;
        font-size: 15px;
        font-family: $alt-font;
        background: url(../images/heder-nav-sep.png) no-repeat right 4px;
        padding-right: 20px;
        margin-right: 5px;
        text-transform: uppercase;

        @media screen and (max-width: $screen-md-min) {
          background: none;
          padding-right: 0;
        }

        > a {
          position: relative;
          padding: 7px 0;
          color: inherit;

          &:hover {
            background: none;
            text-decoration: none;
          }

          &:focus {
            background: none;
          }
        }

        &:hover {
          > a {
            color: $brand-primary;
          }

          .sub-menu {
            visibility: visible;
            opacity: 1;
            transition-delay: 0s;
          }
        }
      }

      .sub-menu {
        background: #fff;
        list-style-type: none;
        margin: 0;
        padding: 0;
        top: 33px;
        left: 0;
        z-index: 99;
        position: absolute;
        visibility: hidden;
        @include opacity(0);
        @include transition(visibility 0s linear 0.2s, opacity 0.2s linear);
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        width: auto;

        @media screen and (max-width: $screen-md-min) {
          display: block;
          position: relative;
          top: 0;
          padding-left: 15px;
          visibility: visible;
          opacity: 1;
        }

        > li {
          background: none;
          margin-right: 0;
          padding-right: 0;
          width: 100%;

          @media screen and (max-width: $screen-md-min) {
            position: relative;
            padding-left: 20px;
          }

          &:after {
            @media screen and (max-width: $screen-md-min) {
              font-size: 8px;
              font-weight: normal;
              content: "\f178";
              font-family: 'Fontawesome';
              position: absolute;
              left: 5px;
              top: 13px;
            }
          }

          > a {
            background: #fff;
            font-size: 14px;
            width: 100%;
            padding: 10px 25px;
            display: block;
            white-space: nowrap;

            @media screen and (max-width: $screen-md-min) {
              font-size: 14px;
              padding: 10px 15px;
            }

            &:hover {
              color: #fff;
              background: $brand-primary;
            }
          }
        }
      }
    }

    li:last-child {
      margin-right: 0px;
      padding-right: 0px;
      border-right: 0;
      background: none;
    }
  } //* end Navigation

  .navigation > div {
    @extend .navbar-collapse;
    padding: 0;
  }

  .navigation > div.collapse.in,
  .navigation > div.collapsing {
    padding: 0;
    border: 0;
    box-shadow: none;

    ul {
      margin: 10px 0;
      float: none;

      li {
        margin: 0 0 2px 0;
        border-right: 0;
        border-bottom: 1px solid #e8eff1;
        padding-right: 0;
        background: none;

        a {
          padding: 10px;
          color: #333;
        }

        &:last-child {
          border-bottom: 0;
        }

        &:hover {
          a {
            background: #f4f4f2;
          }
        }
      }

      li.current-menu-item {
        a {
          padding: 10px;
        }
      }
    }
  }

  // Cerficate
  .certificate-top {
    background: url(../images/baby-friendly.png) no-repeat;
    width: 118px;
    height: 93px;
    position: absolute;
    display: block;
    right: $grid-gutter-width;
    top: 0;
    @include opacity(0.8);

    &:hover {
      @include opacity(1);
    }

    @media screen and (max-width: $screen-sm-min) {
      display: none;
    }
  }

  //sticky-title initial state
  .sticky-title {
    display: none;
    margin-top: 2px;
    font-size: 18px;
    font-family: $alt-font;
    font-weight: 700;
    color: $brand-secondary;
    //text-transform: uppercase;

    &:hover {
      color: $gray-dark;
      text-decoration: none;
    }
  }

  // Sticky nav
  #sticky-nav {
    &.fixed {
      position: fixed;
      top: 0px;
      left: 0;
      width: 100%;
      z-index: 9999;
      margin: 0;
      background: #fff;
      @extend .animated;
      @extend .fadeInDown;
      @include box-shadow(3px 2px 5px -2px rgba(0, 0, 0, 0.1), -3px 2px 5px -2px rgba(0, 0, 0, 0.1));
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;

      .sticky-title {
        display: inline-block;
        float: left;
      }

      div {
        @extend .container;
        margin: 0 auto;
        float: none;
        padding: 10px;
      }
    }

    &.scrolled-before {
      @extend .animated;
      @extend .fadeInUp;
    }
  }
}

//
// Stripes decoration
// --------------------------------------------------
.stripes {
  div {
    float: left;
    width: 50%;
    background: lighten(desaturate($brand-secondary, 31), 44);
    height: 4px;
    display: inline-block;
  }

  div + div {
    background: lighten(saturate($brand-primary, 3), 39);
  }
}

//
// Carousel / slider
// --------------------------------------------------
.carousel {
  position: relative;
  background: lighten(desaturate($brand-secondary, 31), 44);
  background: -moz-linear-gradient(left, lighten(desaturate($brand-secondary, 31), 44) 50%, lighten(saturate($brand-primary, 3), 39) 50%);
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, lighten(desaturate($brand-secondary, 31), 44)), color-stop(50%, lighten(saturate($brand-primary, 3), 39)));
  background: -webkit-linear-gradient(left, lighten(desaturate($brand-secondary, 31), 44) 50%, lighten(saturate($brand-primary, 3), 39) 50%);
  background: -o-linear-gradient(left, lighten(desaturate($brand-secondary, 31), 44) 50%, lighten(saturate($brand-primary, 3), 39) 50%);
  background: -ms-linear-gradient(left, lighten(desaturate($brand-secondary, 31), 44) 50%, lighten(saturate($brand-primary, 3), 39) 50%);
  background: linear-gradient(to right, lighten(desaturate($brand-secondary, 31), 44) 50%, lighten(saturate($brand-primary, 3), 39) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten(desaturate($brand-secondary, 31), 44)', endColorstr='lighten(saturate($brand-primary, 3), 39)',GradientType=1 );

  .container {
    height: $carousel-height;
    position: relative;

    @media screen and (max-width: $screen-sm-min) {
      padding: 0;
      height: inherit;
    }
  }

  // Carousel inner
  .carousel-inner {
    max-width: 1540px;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: $screen-sm-min) {
      display: none;
    }

    .item {
      height: $carousel-height;
    }

    .caption {
      max-width: 60%;
      @include vertical-align;
      position: relative;
      z-index: 998;

      h1 {
        font-size: 48px;
        font-weight: 900;
        color: #fff;
        text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.35);
        //text-transform: uppercase;
        margin-bottom: 25px;
      }
    }
  } //* end carousel inner

  .carousel-overlay {
    position: relative;
    z-index: 99;
    margin-top: -$carousel-height;

    @media screen and (max-width: $screen-sm-min) {
      margin-top: inherit;
    }
  }

  // Fading effect
  &.carousel-fade {
    .carousel-inner {
      .item {
        opacity: 0;
        transition-property: opacity;
      }

      .active {
        opacity: 1;
      }

      .active.left,
      .active.right {
        left: 0;
        opacity: 0;
        z-index: 1;
      }

      .next.left,
      .prev.right {
        opacity: 1;
      }
    }

    .carousel-control {
      z-index: 2;
      text-shadow: none;
      background: none;
      width: 31px;
      height: 54px;
      top: ($carousel-height - 54px) / 2;
      z-index: 100;

      @media screen and (max-width: $screen-sm-min) {
        display: none;
      }

      &.left {
        background: url(../images/carousel-left.png) no-repeat;
        left: 50px;
      }

      &.right {
        background: url(../images/carousel-right.png) no-repeat;
        right: 65px;
      }
    }
  } //* end Fading effect

  // Stripes bg
  .stripes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    div {
      height: $carousel-height;
    }
  } //*end Stripes bg

  // Reception contacts
  .reception-contacts {
    position: absolute;
    top: 30px;
    right: $grid-gutter-width / 2;

    @media screen and (max-width: $screen-sm-min) {
      position: relative;
      width: 100%;
      top: inherit;
      right: inherit;

      .tel,
      .mail {
        float: none;
        width: 100%;
        display: block;
      }
    }
  } //* end reception contacts

  // Featured news
  .featured-news {
    @media screen and (max-width: $screen-sm-min) {
      display: none;
    }

    .fn-item {
      background: $brand-secondary;
      height: 209px;
      position: absolute;
      bottom: 30px;
      right: $grid-gutter-width / 2;

      .fn-image {
        float: left;
        width: 170px;
        overflow: hidden;
      }

      .fn-title {
        color: #fff;
        padding: 25px;
        float: left;
        width: 220px;

        span {
          font-weight: 900;
          font-size: 20px;
          display: block;
          margin-bottom: 10px;
          text-transform: uppercase;
        }

        h4 {
          font-size: 22px;
          font-weight: 400;
          margin: 0;
        }
      }

      a,
      a:hover {
        text-decoration: none;
      }
    }
  } //*end Featured news
}

//
// Page head
// --------------------------------------------------
.page-head {
  position: relative;

  // Page head outer container
  .inn {
    max-width: 1540px;
    margin: 0 auto;
  }

  // Page title without thumbnail
  .ph-title {
    background: lighten(desaturate($brand-secondary, 31), 44);
    background: -moz-linear-gradient(left, lighten(desaturate($brand-secondary, 31), 44) 50%, lighten(saturate($brand-primary, 3), 39) 50%);
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, lighten(desaturate($brand-secondary, 31), 44)), color-stop(50%, lighten(saturate($brand-primary, 3), 39)));
    background: -webkit-linear-gradient(left, lighten(desaturate($brand-secondary, 31), 44) 50%, lighten(saturate($brand-primary, 3), 39) 50%);
    background: -o-linear-gradient(left, lighten(desaturate($brand-secondary, 31), 44) 50%, lighten(saturate($brand-primary, 3), 39) 50%);
    background: -ms-linear-gradient(left, lighten(desaturate($brand-secondary, 31), 44) 50%, lighten(saturate($brand-primary, 3), 39) 50%);
    background: linear-gradient(to right, lighten(desaturate($brand-secondary, 31), 44) 50%, lighten(saturate($brand-primary, 3), 39) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='lighten(desaturate($brand-secondary, 31), 44)', endColorstr='lighten(saturate($brand-primary, 3), 39)',GradientType=1 );

    .inn {
      padding: 20px 0;
      background: #eee;
    }

    h1 {
      margin: 15px 0 0 0;
      float: left;
      font-size: 30px;
      max-width: 65%;
      font-weight: 400;

      @media screen and (max-width: $screen-sm-min) {
        width: 100%;
        margin: 20px 0;
      }
    }

    .ph-contacts {
      float: right;

      @media screen and (max-width: $screen-sm-min) {
        float: none;
        width: 100%;

        .tel,
        .mail {
          display: block;
          width: 100%;
        }
      }
    }
  } //*end page title

  // Page title with thumbnail
  &.has-thumbnail {
    .ph-title {
      @media screen and (max-width: $screen-sm-min) {
        background: none;
      }

      .inn {
        padding: 60px 0;

        @media screen and (max-width: $screen-sm-min) {
          padding: 0;
        }
      }

      h1 {
        font-size: 44px;
        color: #fff;
        text-shadow: 0px 1px 6px rgba(0, 0, 0, 0.35);
        text-transform: uppercase;
        font-weight: 900;

        @media screen and (max-width: $screen-sm-min) {
          font-size: 30px;
        }
      }
    }
  }

  // Breadcrumbs
  .ph-breadcrumbs {
    .inn {
      padding: 20px 0;
      background: #fff;
      @include box-shadow(3px 2px 5px -2px rgba(0, 0, 0, 0.1), -3px 2px 5px -2px rgba(0, 0, 0, 0.1));
    }

    .breadcrumbs {
      list-style-type: none;
      margin: 0;
      padding: 0;
      color: #7f7f7f;
      float: left;

      .caption {
        margin-right: 3px;
        padding-left: 0;
      }

      li {
        display: inline-block;
        margin-right: 3px;
        padding-left: 3px;

        &:last-child {
          margin-right: 0;
          padding-right: 0;
        }
      }
    }
  } //* end breadcrumbs

  // Feature menu
  &.has-featured-nav {
    .ph-inn {
      background: #fff;
      position: relative;
      @include box-shadow(3px 2px 5px -2px rgba(0, 0, 0, 0.1), -3px 2px 5px -2px rgba(0, 0, 0, 0.1));

      .container {
        @media screen and (max-width: $screen-sm-min) {
          padding: 0;
        }
      }
    }

    .feature-nav {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        @include make-md-column(3);
        padding: 0;

        &:first-child {
          a {
            border-left: 1px solid #e4e2e1;
            //background-color: #8DB93C;
            background: #16a085;
          }
        }

        &:nth-child(2) {
          a {
            // background-color: #7aab20;
            background: #e74c3c;
          }
        }

        &:nth-child(3) {
          a {
            //background-color: #3498DB;
            background: #e67e22;
          }
        }

        &:nth-child(4) {
          a {
            // background-color: #2980b9;
            background: #9b59b6;
          }
        }

        a {
          color: $gray-dark;
          font-family: $alt-font;
          font-weight: 700;
          font-size: 24px;
          display: block;
          padding: 30px;
          border-right: 1px solid #e4e2e1;
          @include opacity(0.95);
          color: #fff;

          @media screen and (max-width: $screen-sm-min) {
            border-right: 0;
            border-bottom: 1px solid #e4e2e1;
          }

          &:hover,
          &:active {
            @include opacity(1);
            text-decoration: none;
          }

          .nav-desc {
            margin-top: 5px;
            display: block;
            font-size: 14px;
            font-weight: normal;
            font-family: $font-family-sans-serif;
          }
        }
      }
    }
  } //* end feature menu
}

//
// Page content
// --------------------------------------------------
.page-content {
  padding: 50px 0;

  .entry {
    position: relative;
    line-height: 26px;
  }

  .page-row {
    @include make-row;
  }

  .page-half {
    @include make-md-column(6);
    padding-right: $grid-gutter-width + 10;

    @media screen and (max-width: $screen-md-min) {
      padding-right: $grid-gutter-width / 2;
    }
  }

  .page-half + .page-half {
    padding-left: $grid-gutter-width + 10;
    padding-right: $grid-gutter-width / 2;

    @media screen and (max-width: $screen-md-min) {
      padding-left: $grid-gutter-width / 2;
    }
  }

  .page-full {
    @include make-md-column(12);
  }

  // Has sidebar
  .sidebar {
    @include make-md-column(3);
    margin-top: 8px;

    & + .content {
      @include make-md-column(9);
    }
  }
}

//
// Side nav
// --------------------------------------------------
.side-nav {
  margin: 0 0 50px 0;
  padding: 0;
  list-style: none;

  li {
    font-size: 18px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-family: $alt-font;
    font-weight: 400;

    a {
      display: block;

      &:hover {
        color: $brand-secondary;
        text-decoration: none;
      }
    }

    &.current_page_item {
      a {
        color: $brand-secondary;
      }
    }
  }
}

//
// Front page
// --------------------------------------------------
// Home intro
.home-intro {
  h2 {
    margin-bottom: 30px;
  }

  .entry {
    margin-bottom: 60px;

    .btn {
      position: absolute;
      top: 0px;
      right: 0;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// articles
.articles {
  .btn {
    position: absolute;
    top: 0px;
    right: 0;
  }
}

.video-stream {
  margin-top: 50px;
}

// testimonials
.testimonials {
  .page-row {
    margin-bottom: 50px;
  }

  &.testimonials-inline {
    clear: both;

    .testimonial-entry {
      margin: 0 15px 30px 15px;
      width: 30%;
      display: inline-block;
      vertical-align: top;

      &:first-child {
        margin-left: 0;

        @media screen and (max-width: $screen-sm-min) {
          margin-left: 15px;
        }
      }

      @media screen and (max-width: $screen-sm-min) {
        margin: 0 15px 30px 15px;
        width: 100%;
      }
    }
  }

  .entry {
    padding-left: 80px;
    position: initial;
    line-height: 26px;

    @media screen and (max-width: $screen-md-min) {
      padding-left: 0;
    }
  }
}

.testimonials-list {
  position: relative;
  line-height: 26px;

  h2 {
    margin-bottom: 30px;
  }

  .btn {
    position: absolute;
    top: 0px;
    right: 0;
  }

  .testimonial-entry {
    margin-bottom: 30px;

    .testimonial-text {
      position: relative;
      background: #f1f1f1 url(../images/quoting-mark.png) 22px 25px no-repeat;
      font-style: italic;
      font-size: 13px;
      padding: 20px 20px 20px 60px;
      line-height: 22px;

      &:after {
        content: '';
        background: url(../images/quoting-arrow.png) no-repeat;
        width: 25px;
        height: 21px;
        display: block;
        position: absolute;
        bottom: -21px;
        left: 30px;
      }

      p {
        margin: 0;
      }
    }

    .testimonial-meta {
      padding: 8px 0 0 70px;

      .client-name {
        display: inline-block;
        color: $brand-primary;
        margin-right: 50px;
        line-height: 1.2;
      }

      .client-rating {
        display: inline-block;
        background: url(../images/stars-rating.png) no-repeat;
        width: 98px;
        height: 17px;
        position: relative;
        top: 1px;

        &.stars5 {
          background-position: 0 0;
        }

        &.stars4 {
          background-position: 0 -17px;
        }

        &.stars3 {
          background-position: 0 -34px;
        }

        &.stars2 {
          background-position: 0 -51px;
        }

        &.stars1 {
          background-position: 0 -68px;
        }
      }
    }
  }
}

//
// Artciles
// --------------------------------------------------
.articles {
  position: relative;
  line-height: 26px;

  h2 {
    margin-bottom: 30px;
  }

  article {
    margin-bottom: 25px;
    position: relative;
    padding-left: 50px;
    line-height: 26px;

    &:last-of-type {
      margin-bottom: 0;
    }

    .article-date {
      position: absolute;
      left: 0;
      top: 1px;
      line-height: 1;
      text-align: center;

      .day {
        font-size: 24px;
      }

      .month {
        display: block;
        font-size: 17px;
        color: $gray-light;
      }
    }

    .article-image {
      width: 80px;
      height: 80px;
      overflow: hidden;
      float: left;
      margin-right: 15px;

      img {
        width: 100%;
        height: auto;
      }
      & + .article-entry {}
    }

    .article-entry {
      h3 {
        font-size: 15px;
        font-weight: 600;
        margin: 0 0 5px 0;
      }
    }
  }

  .view-more {
    display: block;
  }

  &.archive {
    article {
      @include make-md-column(6);
      padding-left: 50px;
    }
  }
}

//
// Rooms list
// --------------------------------------------------
.rooms-list {
  margin: 30px 0;
  padding: 0;
  list-style-type: none;
  @include make-row;

  li {
    @include make-md-column(6);

    .room-item {
      background: $brand-secondary;
      color: #fff;
      overflow: hidden;
      margin-bottom: $grid-gutter-width / 2;

      .ri-image {
        float: left;
        width: 45%;
        overflow: hidden;

        @media screen and (max-width: $screen-xs-min) {
          display: none;
        }

        img {
          width: auto;
        }

        & + .ri-title {
          width: 55%;
          float: left;

          @media screen and (max-width: $screen-xs-min) {
            width: 100%;
          }
        }
      }

      .ri-title {
        h3 {
          margin: 25px 25px 20px 25px;
          font-size: 26px;
          line-height: 1.4;
          font-weight: 400;

          @media screen and (max-width: $screen-xs-min) {
            font-size: 22px;
          }
        }

        .btn {
          color: $brand-secondary;
          margin: 0 0 25px 25px;
        }
      }
    }

    &:nth-child(2) {
      .room-item {
        background: $brand-primary;

        .btn {
          color: $brand-primary;
        }
      }
    }

    &:nth-child(3) {
      .room-item {
        background: $brand-primary;

        .btn {
          color: $brand-primary;
        }
      }
    }

    &:nth-child(4) {
      .room-item {
        background: $brand-secondary;

        .btn {
          color: $brand-secondary;
        }
      }
    }

    &:nth-child(5) {
      .room-item {
        background: $brand-secondary;

        .btn {
          color: $brand-secondary;
        }
      }
    }
  }
}

//
// Room overview
// --------------------------------------------------
.room-overview {
  .page-row {
    margin-bottom: 50px;
  }

  .entry {
    padding-left: 80px;
    position: initial;
    line-height: 26px;

    @media screen and (max-width: $screen-md-min) {
      padding-left: 0;
    }

    h3 {
      font-size: 14px;
      color: $brand-primary;
      margin-bottom: 20px;
    }
  }

  // price list
  .price-list {
    .hj-table {
      margin: 15px 0;
    }

    .other-price {
      font-size: 14px;
      line-height: 1.4;
      color: #3c3a37;
      margin-bottom: 5px;
      background: #f1f1f1;
      padding: 7px;
    }

    .other-rooms {
      margin-top: 20px;
      float: left;

      h3 {
        font-size: 18px;
        font-weight: 300;
        color: #686868;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          font-size: 18px;
          margin-bottom: 10px;
          padding-bottom: 10px;
          border-bottom: 1px solid #eee;
          font-family: $alt-font;
          font-weight: 400;

          a {
            display: block;

            &:hover {
              color: $brand-secondary;
              text-decoration: none;
            }
          }
        }
      }
    }
  }

  // services
  .services {
    position: relative;

    .btn {
      position: absolute;
      top: 18px;
      right: $grid-gutter-width / 2;

      @media screen and (max-width: $screen-xs-min) {
        top: inherit;
        bottom: -80px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 240px;
      }
    }
  }

  .styled {
    margin-top: 30px;
  }
}

//
// Gallery
// --------------------------------------------------
.photogallery {
  ul {
    list-style-type: none;
    margin: 0 0 0 -5px;
    padding: 0;

    .item {
      @include make-md-column(3);
      padding: 5px;

      @media screen and (max-width: $screen-sm-min) {
        width: 100% !important;
        display: block;
      }

      a {
        display: block;
        position: relative;

        &:after {
          content: '';
          background: #000;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0px;
          bottom: 0px;
          right: 0px;
          left: 0px;
          z-index: 99;
          @include opacity(0);
          @include transition(opacity 0.25s ease);
        }

        &:before {
          line-height: 1;
          font-family: FontAwesome;
          color: #fff;
          font-size: 50px;
          text-align: center;
          content: '\f055';
          @include opacity(0);
          z-index: 100;
          width: 50px;
          height: 50px;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
        }

        &:hover {
          &:after {
            @include opacity(0.6);
          }

          &:before {
            @include opacity(0.8);
          }
        }
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  // photogallery columns
  &.gallery-columns-9 {
    .item {
      width: (100% / 9);
    }
  }

  &.gallery-columns-8 {
    .item {
      width: (100% / 8);
    }
  }

  &.gallery-columns-7 {
    .item {
      width: (100% / 7);
    }
  }

  &.gallery-columns-6 {
    .item {
      width: (100% / 6);
    }
  }

  &.gallery-columns-5 {
    .item {
      width: (100% / 5);
    }
  }

  &.gallery-columns-4 {
    .item {
      width: (100% / 4);
    }
  }

  &.gallery-columns-3 {
    .item {
      width: (100% / 3);
    }
  }

  &.gallery-columns-2 {
    .item {
      width: (100% / 2);
    }
  }

  &.gallery-columns-1 {
    .item {
      width: 100%;
    }
  }
}

//
// Contact page
// --------------------------------------------------
.entry {
  .contact {
    h2 {
      margin: 20px 0;
    }
  }
}

.contact {
  .page-row {
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media screen and (max-width: $screen-md-min) {
      margin-bottom: 0;
    }
  }

  .entry-block {
    padding-left: 80px;
    position: initial;
    line-height: 26px;

    @media screen and (max-width: $screen-md-min) {
      padding-left: 0;
      margin-bottom: 50px;
    }

    h3 {
      font-size: 14px;
      color: $brand-primary;
      margin-bottom: 20px;

      small {
        font-size: 85%;
        text-transform: normal;
      }
    }
  }

  .addresses {
    address {
      line-height: 26px;
    }
  }

  .contact-form,
  .reservations {
    h2 {
      @media screen and (max-width: $screen-sm-min) {
        font-size: 20px;
      }

      @media screen and (max-width: $screen-xs-min) {
        padding-top: 10px;
      }
    }
  }

  .reservations {
    .download-link {
      margin-top: 10px;

      &:first-child {
        margin-top: 30px;
      }
    }
  }

  .contact-form {
    .form-group {
      label {
        @include make-sm-column(3);
        padding-top: 7px;
      }

      .form-col {
        @include make-sm-column(9);
      }

      textarea {
        border-radius: 12px;
      }

      &.form-submit {
        .form-col {
          @include make-sm-column-offset(3);

          .btn {
            &:focus,
            &:active {
              outline: none;
            }
          }
        }
      }
    }

    .wpcf7-not-valid-tip {
      padding: 8px;
      font-size: 13px;
      color: $brand-danger;
    }

    .wpcf7-response-output {
      @extend .bg-warning;
      border: none;
      line-height: 20px;
      padding: 10px 15px;

      &.wpcf7-validation-errors {
        @extend .bg-danger;
      }

      &.wpcf7-validation-success {
        @extend .bg-success;
      }
    }
  }

  .gmap {
    .entry-block {
      margin-bottom: 0;
    }

    .su-gmap {
      margin-bottom: 0;
    }
  }
}

//
// Headline with icons
// --------------------------------------------------
.headline-ico {
  background: url(../images/headline-sprites.png) no-repeat;
  padding: 18px 0 0 80px;
  vertical-align: middle;
  min-height: 60px;
  margin-bottom: 20px;

  &.headline-ico-info {
    background-position: 0 0;
  }

  &.headline-ico-price {
    background-position: -60px -60px;
  }

  &.headline-ico-hanger {
    background-position: -120px -120px;
  }

  &.headline-ico-bell {
    background-position: -180px -180px;
  }

  &.headline-ico-camera {
    background-position: -240px -240px;
  }

  &.headline-ico-map {
    background-position: -300px -300px;
  }

  &.headline-ico-envelope {
    background-position: -360px -360px;
  }

  &.headline-ico-apply {
    background-position: -420px -420px;
  }

  &.headline-ico-star {
    background-position: -480px -480px;
  }

  &.headline-ico-quoting {
    background-position: -540px -540px;
  }
}

//
// Footer
// --------------------------------------------------
footer {
  .footer-section {
    background: #fff;
    border-bottom: 1px solid #e4e2e1;

    & + .footer-section {
      border-bottom: 0;
    }

    .inn {
      @include make-row;
    }
  }

  // newsletter
  .newsletter-subscribe {
    @include make-md-column(4);
    padding-right: 50px;
    border-right: 1px solid #e4e2e1;
    padding-bottom: 30px;

    @media screen and (max-width: $screen-sm-min) {
      border-right: 0;
      border-bottom: 1px solid #e4e2e1;
      padding-right: $grid-gutter-width / 2;
    }

    h3 {
      font-size: 24px;
      font-weight: 400;
      color: $brand-secondary;
      margin: 30px 0 15px 0;
    }

    p {
      margin-bottom: 20px;
    }

    .mc4wp-alert {
      margin: 15px;
      font-size: 13px;

      &.mc4wp-notice {
        color: $brand-secondary;
      }

      &.mc4wp-success {
        color: $brand-success;
      }
    }
  } //*end newsletter

  // Footer nav
  .footer-nav {
    @include make-md-column(8);
    padding-left: 50px;
    padding-bottom: 30px;

    @media screen and (max-width: $screen-sm-min) {
      padding-left: $grid-gutter-width / 2;
    }

    .footer-links {
      @include make-md-column(4);
      padding: 0;

      &:last-of-type {
        padding-right: $grid-gutter-width / 2;
      }

      h3 {
        font-size: 18px;
        font-weight: 400;
        color: $brand-primary;
        margin: 35px 0 15px 0;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          margin-bottom: 3px;

          a {
            color: $gray-light;

            &:hover {
              color: #333;
            }
          }
        }
      }
    }
  }
  //*end footer nav
  // Footer partners
  .partners {
    list-style-type: none;
    margin: 0;
    padding: 30px 0;
    display: table;
    width: 100%;
    text-align: center;

    li {
      display: table-cell;

      @media screen and (max-width: $screen-sm-min) {
        display: inline-block;
        margin: 10px;
      }

      img {
        @include opacity(0.75);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        @include transition(all 0.3s ease-in-out);
      }

      &:hover {
        img {
          @include opacity(1);
          -webkit-filter: none;
          filter: none;
        }
      }
    }
  } //* end footer partners

  // footer copyright
  .footer-copyright {
    color: $gray-light;
    font-size: 13px;
    padding: 10px 0;
  } //*end footer copyright
}

//
// Widgets
// --------------------------------------------------

// Reception contacts
.reception-contacts {
  line-height: 1.2;

  .tel,
  .mail {
    float: left;
    padding: 15px 15px 10px 15px;
    color: #fff;
    font-size: 13px;

    a {
      color: #fff;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .tel {
    background: $brand-secondary;
  }

  .mail {
    background: $brand-primary;
  }

  span {
    display: block;
    font-size: 17px;
  }
} //* end Reception contacts

//
// Common styles
// --------------------------------------------------
.view-more {
  text-decoration: underline;
  display: inline-block;
  text-transform: uppercase;
  font-family: $alt-font;
  font-size: 13px;
}

.capacity {
  line-height: 1;
  border-radius: 14px;
  background: $brand-primary;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  padding: 2px 8px;
  position: relative;
  text-align: center;
  margin-left: 13px;

  &:before {
    content: '\f007';
    font-family: FontAwesome;
    font-size: 14px;
    color: #333;
    left: -13px;
    top: 2px;
    position: absolute;
  }
}

.price {
  color: $brand-primary;
}

.download-link {
  position: relative;
  padding: 1px 0 0 35px;
  line-height: 27px;
  background: url(../images/download-link.png) no-repeat;
  vertical-align: middle;
  display: inline-block;

  &:hover {
    color: $brand-secondary;
    text-decoration: none;
  }
}

//
// Socialize 
// --------------------------------------------------
.socialize {
  color: $gray-light;
  text-align: right;
  float: right;
  margin-right: $grid-gutter-width / 2;
  margin-top: 50px;

  a {
    width: 28px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    @include opacity(0.85);

    &:hover {
      @include opacity(1);
    }
  }

  .fb {
    background: url(../images/social-sprites.png) no-repeat;
  }
}

//
// Socials tab slideout 
// --------------------------------------------------
.fb-slide-out {
  z-index: 999;
  width: 280px;

  .handle {
    background: url(../images/fb-slide-handle.jpg) no-repeat;
    width: 61px;
    height: 250px;
    display: block;
  }
}

//
// Admin bar
// --------------------------------------------------
.admin-bar {
  position: fixed;
  right: 0;
  bottom: 0;
  float: left;

  .admin-link {
    font-size: 24px;
    color: #fff;
    position: relative;
    background: $brand-primary;
    padding: 10px 20px;

    &:hover {
      text-decoration: none;
      background: darken($brand-primary, 5);
    }

    span {
      font-size: 12px;
      display: inline-block;
      position: relative;
      top: -3px;
    }
  }
}

//
// Responsive video wrapper
// --------------------------------------------------
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}